 .card {
      display: inline-block;   /* или block, но чтобы ширина по родителю */
      width: 100%;
      max-width: 800px;        /* на ваш вкус */
      margin: 0 auto;
    }

    .banner {
      border-radius: 15px 15px 0 0;
      height: 350px;
      width: 100%;
      display: block;          /* убирает лишний пробел снизу у картинки */
      object-fit: cover;
    }

    .zadnik {
      background-color: black;
      height: 350px;
      width: 100%;
      border-radius: 0 0 15px 15px;
      /* Если внутри будет текст, можно добавить отступы */
      padding: 20px;
      box-sizing: border-box;
    }

    .text {
      color: white;
      margin: 0;
    }
   

.welcome-title {
  font-family: 'Reenie Beanie', serif;  /* элегантный шрифт с засечками */
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #5E7C60;  /* нежно-розовый или персиковый */
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
}

.welcome-text p {
  font-family: 'Montserrat', sans-serif; 
  font-size: 1.2rem;
  line-height: 1.6;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}